<footer class="container-fluid" role="contentinfo">
  <div class="row-fluid">
      
      <p><label id="loggedInUser"></label></p>
    <p>Copyright © @DateTime.Now.ToString("yyyy") Toptal</p>
      
  </div>
</footer>